
<!DOCTYPE html>
<html>
<head>
  <title>The Gossip Project - Users New</title>
</head>

<body class="bg-light">

  <div class="container">
    <div class="py-5 text-center"></br>
      <h2>Connexion</h2>
      <p class="lead">Partage avec la communauté The Gossip Project !</p>
    </div>

    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Informations de connexion</h4>

      <%= form_tag url_for(action: 'create'), method: "post" do %>
        <div class="row">
          <div class="col-md-6 mb-3">
            <%= label_tag 'Email' %><br />
            <%= text_field_tag 'email', @email, :class => 'form-control', placeholder: 'gael.dubois@gmail.com' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <%= label_tag 'Mot de passe' %><br />
            <%= text_field_tag 'password', @password, :class => 'form-control', placeholder: 'password' %>
          </div>
        </div>

        <%= submit_tag "Se connecter", :class => 'btn btn-lg btn-primary btn-block col-md-3 mb-3' %>
        
      <% end %>

      <p class="mt-5 mb-3 text-muted d-flex justify-content-center">&copy; The Gossip Project</p>

    </div>
  </div>

</body>
</html>
