
<!DOCTYPE html>
<html>
<head>
	<title>The Gossip Project - Users Show</title>
</head>
<body>
	<h1>Gossips Users</h1>
	<h2><%= @user.first_name %> <%= @user.last_name %></h2>
	<p>De <%= @user.city.name %>, <%= @user.age %> ans</p>
	<h3>Description</h3>
	<p><%= @user.description %></p>
	<h3>Email</h3>
	<p><%= @user.email %></p>
	<h3>Membre depuis le</h3>
	<p><%= @user.created_at %></p>
	<h3>Profil mis à jour le</h3>
	<p><%= @user.updated_at %></p>

	<p><a href=" <%= gossips_path %> " class="btn btn-primary">Revenir aux Gossips</a></p>

</body>
</html>
