
<!DOCTYPE html>
<html>
<head>
	<title>The Gossip Project - Gossips Index</title>
</head>
<body>
	<h1>Gossips Index</h1>
	<p>Bienvenue sur The Gossip Project !</p>

	<a class="btn btn-primary" href=<%= new_gossip_path %> role="button">Poste ton propre Gossip</a>

	<% @gossips.each do |gossip| %>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><%= gossip.title %></h5>
					<p class="card-text">par : <%= gossip.user.first_name %></p>
					<a href=<%= gossip_path(gossip.id.to_s) %> class="btn btn-primary"><%= "Gossip n°" + gossip.id.to_s %></a>
				</div>
			</div>
		</div>
	</div>
	<% end %>

</body>
</html>
