
<!DOCTYPE html>
<html>
<head>
	<title>The Gossip Project - Gossips New</title>
</head>
<body>
	<h1>Gossips New</h1>
	<h2>Poste ton propre Gossip</h2>

	<%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content', @gossip.content %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

    <% end %>


</body>
</html>
